<!--main-container-part-->
<div id="content">
  <!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb">
      <a href="index.html" title="Go to Home" class="tip-bottom">
        <i class="icon-home"></i> Home</a>
    </div>
  </div>
  <!--End-breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb">
      <a href="#" title="Go to Home" class="tip-bottom">
        <i class="icon-home"></i> Home</a>
      <a href="#" class="current">Profile</a>
    </div>
    <!--Action boxes-->
    <h1>User Profile {{admin.adminfirstName}}</h1>
    <div class="container-fluid">


    </div>
    <div class="container-fluid">
      <hr>
      <div class="row-fluid">
        <div class="span6">
          <div class="widget-box">
            <div class="span4"></div>
            <div class="span4  ">
              <img src="public/img/homer-profile.jpg" class="img-circle" alt="">
            </div>
            <div class="span4"></div>
            <div class="span12">
              <h1 class="text-center text-capitalize">{{admin.firstName}} {{admin.lastName}}</h1>
            </div>
            <div class="span5">
              <h1 class="text-center text-capitalize">{{admin.email}}</h1>

            </div>
            <div class="span6">
              <h1 class="text-center text-capitalize">{{admin.university}}</h1>
            </div>
            <div class="span5">
              <h1 class="text-center text-capitalize">{{admin.occupation}}</h1>

            </div>
            <div class="span6">
              <h1 class="text-center text-capitalize">{{admin.phoneNumber}}</h1>
            </div>
          </div>

        </div>

        <div class="span6">
          <div class="widget-box">
            <div class="widget-title">
              <span class="icon">
                <i class="icon-align-justify"></i>
              </span>
              <h5>Personal-info</h5>
            </div>
            <div class="widget-content nopadding">
              <form action="#" method="get" class="form-horizontal">
                <div class="control-group">
                  <label class="control-label">First Name :</label>
                  <div class="controls">
                    <input type="text" class="span5" value="{{admin.firstName}}">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Last Name :</label>
                  <div class="controls">
                    <input type="text" class="span5" value="{{admin.lastName}}">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Email</label>
                  <div class="controls">
                    <input type="email" class="span8" value="{{admin.email}}">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">University</label>
                  <div class="controls">
                    <input type="text" class="span8" value="{{admin.university}}">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Occupation</label>
                  <div class="controls">
                    <input type="text" class="span8 " value="{{admin.occupation}}">

                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Phone Number</label>
                  <div class="controls">
                    <input type="text" class="span5" value="{{admin.phoneNumber}}">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label">Address</label>
                  <div class="controls">
                    <input type="text" class="span11" value="{{admin.phoneNumber}}">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">City</label>
                  <div class="controls">
                    <input type="text" class="span5" value="{{admin.phoneNumber}}">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Province</label>
                  <div class="controls">
                    <input type="text" class="span5" value="{{admin.phoneNumber}}">
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-success">UPDATE</button>
                </div>
              </form>
            </div>
          </div>



        </div>